body {
  background-color: #d5d4d0;
  margin: 0;
  font-family: "Segoe UI Semibold", "Segoe WP Semibold", "Segoe WP", "Segoe UI", Arial, Sans-Serif;
  /* pointer-events: none; */
}

.page-container {
  margin: 0 200px;
  padding: 50px 200px;
  background-color: rgb(244, 244, 242);
  height: 100%;
  box-shadow: 0px 0px 20px 20px rgb(173, 173, 173);
}

img.logo {
  width: 25px;
}

header {
  display: flex;
  justify-content: space-between;
}

header > .brand {
  font-size: 2em;
  display: flex;
  gap: 10px;
  align-items: center;
}

header > .search {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 800px;
}

header .search-bar {
  flex: 1;
  display: flex;
  box-shadow: 0px 0px 5px 3px rgb(219, 219, 219);
}

header .search-bar > input {
  flex: 1;
  border: 0;
  border-radius: 5px 0 0 5px;
  height: 50px;
}

header > .search > .recent {
  display: flex;
  gap: 15px;
}

header > .search > .recent > span:first-child {
  color: #757575;
}
header > .search > .recent > span:last-child {
  margin-left: auto;
}

header > .profile > .profile-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25' stroke-width='1.5'/%3E%3Cg transform='matrix(.9 0 0 .9 10.431 10.431)' stroke-width='2'%3E%3Ccircle cx='24.25' cy='18' r='9'/%3E%3Cpath d='M11.2 40a1 1 0 1126.1 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 36px;
  height: 36px;
}

.links-bar {
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 25px 0 15px 0;
  display: flex;
}

.links-bar > div {
  display: flex;
  gap: 15px;
  align-content: center;
  width: 200px;
  margin-right: 15px;
}

.categories-bar {
  display: flex;
  color: rgb(128, 128, 128);
  font-size: 1.2em;
  gap: 20px;
  text-transform: uppercase;
  padding: 10px 0;
}

main.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

main.posts > .post {
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(231, 231, 231);
  border-radius: 5px;
  font-size: 1.2rem;
  position: relative;
}

main.posts > .post .attr {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 10px;
}
main.posts > .post .attr > img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

main.posts > .post.fancy > .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #fff0, #fff0 50%, #0000008e);
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
  color: white;
}
main.posts > .post.fancy > .overlay > .title {
  font-size: 2rem;
}
main.posts > .post.fancy > img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
main.posts > .post.fancy.small-title .title {
  font-size: 1.4rem;
}

main.posts > .post:not(.fancy) {
  display: flex;
  padding: 10px;
  gap: 10px;
}
main.posts > .post:not(.fancy) > img {
  object-fit: cover;
  border-radius: 5px;
  width: 40%;
}
main.posts > .post:not(.fancy) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* >>>>>>>>>> GLOBAL */
button {
  background-color: #3393df;
  border: 0;
  width: 100px;
  border-radius: 0 5px 5px 0;
}
button > img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(104%) contrast(103%);
  height: 28px;
}

/* >>>>>>>>> INTRUSIVE AD */
.intrusive-ad {
  margin: 10px auto;
  width: 800px;
  border: 1px solid rgb(116, 116, 116);
  padding: 20px;
  font-size: 2em;
  text-align: center;
  background: url(https://thumbs.dreamstime.com/b/diagonal-striped-background-card-gray-white-wrapping-paper-texture-grey-stripes-135281431.jpg);
  animation: intrusiveAd 1s linear infinite;
}
.intrusive-ad em {
  display: block;
  font-size: 1.2rem;
}
@keyframes intrusiveAd {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 87% 0;
  }
}

.intrusive-ad.post {
  width: initial;
  /* border: initial; */
  animation: intrusiveAd 10s linear infinite;
  display: flex;
  align-items: center;
  font-size: 1.6rem !important;
}
