on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: deploy to dev
    runs-on: ubuntu-latest
    steps:
    - uses: distributhor/workflow-webhook@v2
      env:
        webhook_url: ${{ secrets.WEBHOOK_URL }}
        webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
